/* Home */

.world_service {
    margin-top: 40px;
    margin-bottom: 20px;
}

.footer_copyright {
    margin: 15px 0px 0px 0px;
    border-top: 1px solid gainsboro;
}

.align-items {
    display: flex;
    align-items: center;
    justify-content: center;
}

.align-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.align-end {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.feature_big_add_area {
    padding-top: 50px;
    padding-bottom: 40px;
}

.third_text {
    font-weight: 700;
    color: #0a4058 !important;
}

.update_btn {
    background-color: black;
    color: #fefefe;
}

@media screen and (max-width: 480px) {
    .align-end {
        flex-direction: column !important;
    }
    .call-option {
        padding-right: 0px !important;
    }
}